.separator-vert{
    border-right: 1px solid #b7b7b7;
}

.separator-hor{
    border-bottom: 1px solid #b7b7b7;
}

.search-input{
    font-size: 15px;
    padding: 16px;
    background: #efefef;
}


span, p, strong, h1, h2, h3{
    color:#b7b7b7;
}

body{
    background-color: #f1f1f1;
}

.carousel-alter{
    bottom: 14.25rem!important;
    left: 14%!important; 
    width: 30%;
    padding: 10px 45px; 
    text-align: left;
}

.carousel-alter p, .carousel-alter h1{
    text-align: left;
    color: #fff;
}


.btn-banner{
    border: 3px solid #fff;
    color: #fff;
    padding: 10px 68px;
    margin-top: 25px;
    font-size: 20px;
}

.btn-banner:hover{
    background-color: #fff;
    color: #b7b7b7;
    
}

.carousel-indicators{
    background-color: #fff;
    width: 9%;
    margin: 0 auto;
    bottom: -12px;
}

.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius:50%;
    background-color: #9f9f9f;
}

.carousel-indicators .active{
    background-color: #404040;
}

.banner-text{
    bottom: 14.25rem!important;
    left: 14%!important;
    width: 30%;
    background: #000;
    opacity: 0.4;
    padding: 10px 25px;
    text-align: left;
    position: absolute;
    height: 263px;
}

.card{
    max-height: 375px;
}

.add-folder{
    max-width:288px;
    max-height: 328px;
}

.card img{
    height: 160px;
}

.add-folder{
    border: 3px dashed #b7b7b7;
    height: 100%;
    padding: 76px 70px;
}

.add-folder img{
    margin: 0 auto;
    display: block;
}

.add-folder strong{
    text-align: center;
}

.sociais a{
    display: inline-flex!important
}

h4{
    font-size: 19px;
}

.footer, .bg-header{
    background-color: #fff;
}

.pos-footer{
    background-color: #b7b7b7;
    padding: 10px;
}


footer .container-fluid span{
    color:#6c6c6c!important;
}


#modalleo h2{
    color: #484747;
    text-align: center;
    font-size: 40px;
}

#modalleo p{
    color:#b7b7b7;
    text-align: center;
    font-size: 20px;
}

#modalleo .modal-body a{
    background-color:#1da2da;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    width: 32%;
    color: #fff;
    font-size: 25px;
    padding: 10px 39px;
}

#modalleo .modal-body{
    padding-bottom:50px;
}


#modalleo button{
    top: -12px;
    position: absolute;
    right: -9px;
    border-radius: 33px 33px;
    width: 50px;
    height: 50px;
    color: red;
    border: none;
}

#modalleo button span{
    color: red;
    font-size: 40px;
    line-height: 28px;
}